<div class="footer-main">
    <div class="footer-body">
        <div class="column-1">
            <div class="my-name">Daivik Saharan</div>
            <hr width="90%">
            <div class="my-designation">Software Engineer | Graduate Teaching Assistant - Concordia University | Master of Applied Computer Science | Ex-Infoscion | Full Stack Developer</div>
            <!-- <div class="resume"><button class="resume-button">Resume</button></div> -->
        </div>
        <div class="column-2">
            <div class="column-2-heading">Socials</div>
            <div class="socials">
                <div class="social-item">
                    <a href="https://www.linkedin.com/in/daiviksaharan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="social-item">
                    <a href="https://github.com/daivik1515" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="social-item">
                    <a href="mailto:daivik.15.saharan@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="created-by">
        Created by DAIVIK SAHARAN <span><i class="fa-solid fa-heart"></i></span>
    </div>
</div>
