<div class="main-skill-cards">
    <div class="heading">
        Skills
    </div>
    <div class="cards-collection">
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-laptop-code" id="heading-i"></i></div>
            <div class="card-heading">Programming</div>
            <hr>
            <div class="card-body">
                  <div class="skill-item">
                    <i class="fa-solid fa-c"></i>
                    <span>C</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-code"></i>
                    <span>C++</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-java"></i>
                    <span>Java</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-python"></i>
                    <span>Python</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-js"></i>
                    <span>JavaScript</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-html5"></i>
                    <span>HTML</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-css3-alt"></i>
                    <span>CSS</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-angular"></i>
                    <span>TypeScript</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-database"></i>
                    <span>SQL</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-cloud"></i>
                    <span>REST</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-sitemap"></i>
                    <span>DOM</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-leaf"></i>
                    <span>MongoDB</span>
                  </div>
                <!-- C, C++, Java, Java Collections Framework, Python, JavaScript, HTML5, CSS, Typescript, SQL, -->
                <!-- REST, DOM, MongoDB -->
            </div>
        </div>
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-microchip" id="heading-i" style="left: 15px;"></i></div>
            <div class="card-heading">Frameworks</div>
            <hr>
            <div class="card-body">
                <div class="skill-item">
                    <i class="fa-brands fa-angular"></i>
                    <span>Angular</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-react"></i>
                    <span>React</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-node"></i>
                    <span>Node.js</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-vial"></i>
                    <span>JUnit</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-leaf"></i>
                    <span>Spring Boot</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-database"></i>
                    <span>Oracle</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-robot"></i>
                    <span>LangChain</span>
                  </div>
                <!-- Angular, React, Node.js, JUnit, Spring Boot, Oracle, Langchain. -->
                </div> 
            </div>
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-gears" id="heading-i"></i></div>
            <div class="card-heading">Developer Tools</div>
            <hr>
            <div class="card-body">
                <div class="skill-item">
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-docker"></i>
                    <span>Docker</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-aws"></i>
                    <span>AWS</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-code"></i>
                    <span>PyCharm</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-brain"></i>
                    <span>IntelliJ</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-terminal"></i>
                    <span>Eclipse</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-server"></i>
                    <span>Express</span>
                  </div>
                <!-- Git, Docker, AWS, PyCharm, IntelliJ, Eclipse, Express. -->
            </div>
        </div>
    </div>


    <div class="experience">
        <div class="experience-heading">
            Experience
        </div>
        <div class="experience-body">
            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/concordia.png" alt="" class="company-image"></span><span class="company-name">Concordia University, Montreal, QC</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Teaching Assistant</div>
                    <div class="responsibilities">
                        <p>(Sep 2024 - Dec 2024)</p>
                        <p class="points-responsibilities">Led JAVA tutorials and mentored 34 students to improve their programming skills and problem-solving abilities by
                          providing hands-on guidance and one-on-one support.</p>
                        <p class="points-responsibilities">Managed lab sessions, assisting students with hands-on coding exercises, and implementation of the complex data
                          structures.</p>
                    </div>
                </div>
            </div>

            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/infosys.png" alt="" class="company-image"></span><span class="company-name">Infosys Limited, India</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Systems Engineer</div>
                    <div class="responsibilities">
                        <p>(Aug 2022 - Jul 2023)</p>
                        <p class="points-responsibilities">Resolved 50+ critical backlog bugs and optimized the Precision Dispatch System web and desktop application for
                          the client, reducing the response time by 5% and improving overall performance. Worked on key functionalities
                          such as the Create New Train form and Track Progress of the train.</p>
                        <p class="points-responsibilities">Built a fully functional E-Commerce website as part of a Hackathon project by utilizing Java, Angular, Spring Boot
                          and Oracle. Implemented key features such as product catalog, user authentication, and order management.</p>
                        <p class="points-responsibilities">Mentored two junior developers on the Precision Dispatch System, providing knowledge transfer (KT) sessions to
                          help them understand the project’s architecture, functionalities and best practices.</p>
                        <p class="points-responsibilities">Trained in Oracle PL/SQL, Java, Eclipse, Java persistence API and Angular in Infosys Leadership Institute.</p>
                    </div>
                </div>
            </div>

            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/alore.jpeg" alt="" class="company-image"></span><span class="company-name">Alore-Growth OS, India</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Front-end Engineer Intern</div>
                    <div class="responsibilities">
                        <p>(March 2021 - March 2021)</p>
                        <p class="points-responsibilities">Engineered an Angular-based internal reporting tool, enhancing the efficiency of monitoring employee and client
                          activities by 25% through integration with Spring Boot for backend operations.</p>
                        <p class="points-responsibilities">Designed the user interface for Alore’s Google Chrome extension, enabling efficient extraction of information from
                            web pages, which boosted data retrieval speed and improved user productivity.</p>
                        <p class="points-responsibilities">Contributed to the development of the company’s product 2.0 version by implementing responsive designs,
                          enhancing the user experience and accessibility across devices, which increased customer engagement by 10%.</p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
