<div class="main-skill-cards">
    <div class="heading">
        Skills
    </div>
    <div class="cards-collection">
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-laptop-code" id="heading-i"></i></div>
            <div class="card-heading">Programming</div>
            <hr>
            <div class="card-body">
                  <div class="skill-item">
                    <i class="fa-solid fa-c"></i>
                    <span>C</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-code"></i>
                    <span>C++</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-java"></i>
                    <span>Java</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-python"></i>
                    <span>Python</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-js"></i>
                    <span>JavaScript</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-html5"></i>
                    <span>HTML</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-css3-alt"></i>
                    <span>CSS</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-angular"></i>
                    <span>TypeScript</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-database"></i>
                    <span>SQL</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-cloud"></i>
                    <span>REST</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-sitemap"></i>
                    <span>DOM</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-leaf"></i>
                    <span>MongoDB</span>
                  </div>
                <!-- C, C++, Java, Java Collections Framework, Python, JavaScript, HTML5, CSS, Typescript, SQL, -->
                <!-- REST, DOM, MongoDB -->
            </div>
        </div>
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-microchip" id="heading-i" style="left: 15px;"></i></div>
            <div class="card-heading">Frameworks</div>
            <hr>
            <div class="card-body">
                <div class="skill-item">
                    <i class="fa-brands fa-angular"></i>
                    <span>Angular</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-react"></i>
                    <span>React</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-node"></i>
                    <span>Node.js</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-vial"></i>
                    <span>JUnit</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-leaf"></i>
                    <span>Spring Boot</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-database"></i>
                    <span>Oracle</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-robot"></i>
                    <span>LangChain</span>
                  </div>
                <!-- Angular, React, Node.js, JUnit, Spring Boot, Oracle, Langchain. -->
                </div> 
            </div>
        <div class="card-row">
            <div class="upper-circle"><i class="fa-solid fa-gears" id="heading-i"></i></div>
            <div class="card-heading">Developer Tools</div>
            <hr>
            <div class="card-body">
                <div class="skill-item">
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-docker"></i>
                    <span>Docker</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-brands fa-aws"></i>
                    <span>AWS</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-code"></i>
                    <span>PyCharm</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-brain"></i>
                    <span>IntelliJ</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-terminal"></i>
                    <span>Eclipse</span>
                  </div>
                  <div class="skill-item">
                    <i class="fa-solid fa-server"></i>
                    <span>Express</span>
                  </div>
                <!-- Git, Docker, AWS, PyCharm, IntelliJ, Eclipse, Express. -->
            </div>
        </div>
    </div>


    <div class="experience">
        <div class="experience-heading">
            Experience
        </div>
        <div class="experience-body">
            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/concordia.png" alt="" class="company-image"></span><span class="company-name">Concordia University, Montreal, QC</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Teaching Assistant</div>
                    <div class="responsibilities">
                        <p>(Sep 2024 - Dec 2024)</p>
                        <p class="points-responsibilities">Led JAVA tutorials and mentored 34 students to improve their programming skills and problem-solving abilities by
                          providing hands-on guidance and one-on-one support.</p>
                        <p class="points-responsibilities">Managed lab sessions, assisting students with hands-on coding exercises, and implementation of the complex data
                          structures.</p>
                    </div>
                </div>
            </div>

            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/infosys.png" alt="" class="company-image"></span><span class="company-name">Infosys Limited, India</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Systems Engineer</div>
                    <div class="responsibilities">
                        <p>(Aug 2022 - Jul 2023)</p>
                        <p class="points-responsibilities">Built critical features for the Precision Dispatch System (Create New Train and Track Progress of Train) in Angular, optimizing real-time tracking for 1,000+ daily operations and cutting dispatch errors by 20%.</p>
                        <p class="points-responsibilities">Resolved 50+ critical backlog bugs across Angular and Spring Boot in the Precision Dispatch System’s web and desktop applications, significantly improving system reliability.</p>
                        <p class="points-responsibilities">Conducted thorough automated testing and validation, achieving 90% code coverage.</p>
                        <p class="points-responsibilities">Developed pagination technique to optimize charts display, reducing data load per request by 3x.</p>
                    </div>
                </div>
            </div>

            <div class="experience-card">
                <div class="company-title">
                    <span><img src="/assets/images/alore.jpeg" alt="" class="company-image"></span><span class="company-name">Alore-Growth OS, India</span>
                </div>
                <div class="experience-card-body">
                    <div class="circle-span"></div>
                    <div class="designation">Front-end Engineer Intern</div>
                    <div class="responsibilities">
                        <p>(Mar 2021 - Mar 2022)</p>
                        <p class="points-responsibilities">Led the end-to-end development of an internal reporting tool using Angular and Spring Boot, enhancing the efficiency of monitoring employee and client activities by 85%.</p>
                        <p class="points-responsibilities">Worked on the user interface for Alore’s Google Chrome extension, enabling efficient extraction of information from web pages, which boosted data retrieval speed by efficient DOM parsing and asynchronous data processing.</p>
                        <p class="points-responsibilities">Implemented responsive UI dashboards and accessibility enhancements in company’s product v2.0, increasing cross-device engagement by 30%.</p>
                        <p class="points-responsibilities">Integrated SonarQube with CI/CD pipelines and implemented unit testing with JUnit, reducing technical debt and increasing test coverage from 75% to 93%.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
