<div class="main-skill-cards">
    <div class="heading">
        Tools in my Arsenal.
    </div>
    <div class="cards-collection">
        <div class="card-row">
            <div class="upper-circle"></div>
            <div class="card-heading">Programming</div>
            <hr>
            <div class="card-body">
                <ul>
                    <li>C</li>
                    <li>C++</li>
                    <li>Java</li>
                    <li>Java Collections Framework</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Typescript</li>
                    <li>SQL</li>
                    <li>REST</li>
                    <li>DOM</li>
                    <li>C</li>
                    <li>MongoDB</li>

                </ul>
                <!-- C, C++, Java, Java Collections Framework, Python, JavaScript, HTML5, CSS, Typescript, SQL, -->
                <!-- REST, DOM, MongoDB -->
            </div>
        </div>
        <div class="card-row">
            <div class="upper-circle"></div>
            <div class="card-heading">Frameworks</div>
            <hr>
            <div class="card-body">
                <ul>
                    <li>Angular</li>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>JUnit</li>
                    <li>Spring Boot</li>
                    <li>Oracle</li>
                    <li>Langchain</li>
                </ul>
                <!-- Angular, React, Node.js, JUnit, Spring Boot, Oracle, Langchain. -->
                </div> 
            </div>
        <div class="card-row">
            <div class="upper-circle"></div>
            <div class="card-heading">Developer Tools</div>
            <hr>
            <div class="card-body">
                <ul>
                    <li>Github</li>
                    <li>Docker</li>
                    <li>AWS</li>
                    <li>PyCharm</li>
                    <li>IntelliJ</li>
                    <li>Eclipse</li>
                    <li>Express</li>
                </ul>
                <!-- Git, Docker, AWS, PyCharm, IntelliJ, Eclipse, Express. -->
            </div>
        </div>
    </div>
</div>
