.main-skill-cards
{
    /* margin-top: 3%; */
    background-color: #0d1620fb;
    /* min-height: 100vh; */
    animation: fade-enlarge 2s ease-out;
    animation-timeline: view();
    animation-range: exit;
    

}
.heading
{
    padding-top: 2%;
    color: #cbcbcb;
    font-size: 40px;
    font-weight: 600;
    padding-left: 5%;
    /* text-align: center; */
}
.cards-collection
{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: appear-reverse linear;
    animation-timeline: view();
    animation-range: entry -5% cover 30%;
}
.card-row
{
    width: 20%;
    min-width: 300px;
    /* margin-left: 5%; */
    /* background-color: rgb(27, 25, 25); */
    margin-bottom: 5%;
    /* border-radius: 2%; */
    /* border-left: 1px solid rgb(178, 180, 178); */

}
.upper-circle
{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #0fc524;
    position: relative;
    top: -20px; 
    left: 10px;
}
.card-heading
{
    color: rgb(178, 180, 178);
    padding-left: 5%;
    font-weight: 600;
}
.card-body
{
    color: rgb(178, 180, 178);
    display: flex;
    padding-right: 10%;
    /* border-left: 1px solid rgb(178, 180, 178); */
}
hr
{
    width: 15%;
    color: #0fc546;
    margin-left: 5%;
    border: 5px solid #00ff88;
    border-radius: 20%;
    position: relative;
    top: -8px;
}
.skill-item
{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    text-align: center;
    padding-left: 10%;
}
.card-body
{
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
}
span
{
    font-weight: 300;
    font-size: 10px;
}
i
{
    font-size: 30px;
}
i:hover
{
    cursor: pointer;
    color: #19a262;
}
#heading-i
{
    font-size: 40px;
    position: relative;
    top: 15px;
    left: 9px;
}
#heading-i:hover
{
    color: rgb(134, 65, 23);
}
.experience
{
padding-bottom: 5%;
}
.experience-heading
{
    padding-top: 2%;
    color: #cbcbcb;
    font-size: 40px;
    font-weight: 600;
    padding-left: 5%;
    margin-bottom: 3%;
}
.experience-body
{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    padding-right: 4%;
    justify-content: space-between;
    padding: 5%;
    padding-top: 5px;
}
.company-image
{
    height: 60px;
    width: 60px;
    /* border-radius: 100%; */
}
.experience-card
{
    width: 600px;
    padding-right: 4%;
    margin-bottom: 10px;
    /* border: 1px solid rgb(10, 125, 160); */
    padding-top: 10px;
    padding-left: 10px;
    
    /* border-radius: 10px; */

}
.company-title
{
    display: inline;
}
.company-name
{
    color: white;
    font-size: 20px;
    padding-left: 3%;
}
.experience-card-body
{
    border-left: 1px solid white;
    position: relative;
    margin-top: 15px;
    left: 25px;
}
.circle-span
{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position:absolute;
    left: -8px;
    top: 10px;
}
.designation
{
   color: white;
   font-weight: 400;
   position: relative;
   padding-left: 20px;
   top: 5px; 
}
.responsibilities
{
    font-weight: 300;
    font-size: 12px;
    padding-left: 20px;
    margin-top: 5px;
    color: rgb(199, 196, 196);
}
.points-responsibilities
{
    padding-bottom: 5px;
    padding-right: 5%;
}
.experience-card:hover
{
    background-color: #1f365068;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
    /* box-shadow: 2px 2px 2px 2px rgb(10, 174, 223); */
    box-shadow: 0 0 30px rgb(10, 174, 223);
}