<nav class="margin navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Daivik Saharan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="scrollToSection('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('about')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('projects')">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('contact')">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Resume</a>
          </li>
        </ul>
        <li class="nav-item d-flex">
            <a class="nav-link" aria-disabled="true" href="https://www.linkedin.com/in/daiviksaharan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" aria-disabled="true" href="https://github.com/daivik1515" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" aria-disabled="true" href="mailto:daivik.15.saharan@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </div>
    </div>
  </nav>
