.about-main
{
    width: 100%;
    /* background-image: url("../../../assets/images/whitepattern.avif"); */
    /* background-image: url("https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?t=st=1737857628~exp=1737861228~hmac=9726409aec3fe9687be7371f231e394549088b46bf8e8dc2ddf24aff1eab2223&w=1380"); */
    background-image: url("/assets/images/dark-background.jpg");
    /* background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?t=st=1737856845~exp=1737860445~hmac=00bae5b30a1932b92e9b3bfdf290e3d21e5fdd0b280292f7166b68a48127ecf8&w=1380"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    animation: fade-enlarge 2s ease-out;
    animation-timeline: view();
    animation-range: exit 100px;
}
.main-body
{
    display: flex;
    flex-wrap: wrap;
}

.body-row1
{
    padding-top: 15%;
    flex: 50%;
    /* min-width: 500px; */
    width: 50%;
    padding-bottom: 8%;
    
}
.body-row2
{
    /* min-width: 500px; */
    /* width: 50%;
    padding-top: 20%; */
    /* min-width: 50vw; */
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}
.image-main
{
    text-align: center;
}
.my-image
{
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
}
.intro-line
{
    /* justify-self: center; */
    font-size: 60px;
    /* color: #f4f4f9; */
    /* color: rgb(115, 110, 110); */
    text-align: center;
    background: -webkit-linear-gradient(#00ffdd, #0dcaf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-intro
{
    margin-top: 5%;
    color: #afa9a9;
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    align-self: center;
}
@media only screen and (max-width: 1000px) {
    .body-row1
    {
        padding-top: 25%;
    }
    .body-row2
    {
        padding-top: 5%;
        width: 100%;
        padding-bottom: 8%;
        font-size: 15px;    
    }
    .my-image
    {
        width: 35vw;
        height: 35vw;
    }
  }
