.about-main
{
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}
.main-body
{
    display: flex;
    flex-wrap: wrap;
}
.body-row1
{
    padding-top: 15%;
    flex: 50%;
    min-width: 500px;
    width: 500px;
    padding-bottom: 8%;
    
}
.body-row2
{
    min-width: 500px;
    width: 500px;
    padding-top: 15%;
    min-width: 50vw;
}
.image-main
{
    justify-self: center;
}
.my-image
{
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
}
.intro-line
{
    justify-self: center;
    font-size: 60px;
    /* color: #f4f4f9; */
    color: rgb(115, 110, 110);
    text-align: center;
}
.sub-intro
{
    margin-top: 5%;
    /* color: #f4f4f9; */
    color: rgb(118, 111, 111);
    font-size: 20px;
    width: 80%;
    justify-self: center;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}


@media only screen and (max-width: 1000px) {
    .body-row1
    {
        padding-top: 25%;
    }
    .body-row2
    {
        padding-top: 5%;
        width: 100%;
        padding-bottom: 8%;
        font-size: 15px;    
    }
    .my-image
    {
        width: 35vw;
        height: 35vw;
    }
  }