<div class="about-main">
    <div class="main-body">
        <div class="body-row1">
            <div class="image-main"><img class="my-image" src="../../../assets/images/softwareavatar.avif" alt="Error"></div>
            
        </div>
        <div class="body-row2">
            <div class="intro-line">{{introLine}} !</div>
            <hr style="color: white; width: 80%; justify-self: center;">
            <div class="sub-intro">Crafting seamless digital experiences from front-end finesse to back-end brilliance, I’m a full-stack web developer who turns ideas into dynamic, user-centric solutions.</div>
            
        </div>
    </div>
</div>
