.about-main
{
    width: 100%;
    /* background-image: url("../../../assets/images/whitepattern.avif"); */
    /* background-image: url("https://img.freepik.com/free-vector/white-minimal-hexagons-background_79603-1452.jpg?t=st=1737488263~exp=1737491863~hmac=a195038737bd41914033db504b88cb89faed5e6e427d96000d6b071d5b7ec6b8&w=1480"); */
    background-image: url("/assets/images/dark-background.jpg");
    /* background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?t=st=1737532712~exp=1737536312~hmac=453cb5d200f510e58e339c9cc4ca98754ec7511cead47aebbae7632242504ec6&w=1380"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.main-body
{
    display: flex;
    flex-wrap: wrap;
}

.body-row1
{
    padding-top: 15%;
    flex: 50%;
    /* min-width: 500px; */
    width: 50%;
    padding-bottom: 8%;
    
}
.body-row2
{
    /* min-width: 500px; */
    /* width: 50%;
    padding-top: 20%; */
    /* min-width: 50vw; */
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}
.image-main
{
    text-align: center;
}
.my-image
{
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
}
.intro-line
{
    /* justify-self: center; */
    font-size: 60px;
    /* color: #f4f4f9; */
    /* color: rgb(115, 110, 110); */
    text-align: center;
    background: -webkit-linear-gradient(#50cbbb, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-intro
{
    margin-top: 5%;
    color: #afa9a9;
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    align-self: center;
}
@media only screen and (max-width: 1000px) {
    .body-row1
    {
        padding-top: 25%;
    }
    .body-row2
    {
        padding-top: 5%;
        width: 100%;
        padding-bottom: 8%;
        font-size: 15px;    
    }
    .my-image
    {
        width: 35vw;
        height: 35vw;
    }
  }
