<div class="skill-main">
    <div class="about-me">
        <div class="heading">ABOUT ME</div>
        <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;">
        <!-- <div class="sub-heading">
            
        </div> -->
    </div>
    <div class="summary-skill">
        <div class="row1">
            <div>

            </div>
            <div class="summary">
                <p class="summary-heading">Nice to meet you. You can get to know me here :)</p>
                <p>Hi, I’m Daivik Saharan, a passionate Full-Stack Web Developer with expertise in Java, Python, JavaScript, Angular, Spring Boot, and modern tools like Docker, AWS, and Git. I’m currently pursuing a Master of Applied Computer Science at Concordia University (GPA: 3.90/4.30) while honing my skills through impactful projects and professional experiences.</p>
                <p>I’ve optimized web applications at Infosys, enhanced productivity tools as a Front-End Engineer Intern, and mentored students as a Teaching Assistant. My projects showcase a strong foundation in data structures, scalable system design, and responsive UI development, delivering measurable improvements in performance and user experience.</p>
                <p>Let’s connect to build something extraordinary! Explore my work on GitHub or reach out via LinkedIn.</p>
            </div>
        </div>
        <div class="row2">
            <!-- <div class="skills-heading"></div> -->
            <div class="skills-body">
                <img class="image-about-us" src="../../../assets/images/programming-nobackground.png" alt="">
            </div>
        </div>
    </div>
</div>
