.skill-main
{
    min-height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?t=st=1737589817~exp=1737593417~hmac=23e6ca59c8fae768bc3ccfbd72c9b3455b6a657951d4c82f16a6789f09c1e0d5&w=1800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.heading
{
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    color: black;
}
.sub-heading
{
    text-align: center;
    font-weight: 300;
    padding-top: 1%;
    margin-bottom: 5%;
    font-size: 18px
}
.inside-sub-heading
{
    width: 50%;
    justify-self: center;
}
.summary-skill
{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.summary
{
    /* line-height: 3vw; */
    padding-left: 10%;
}
p
{
    /* padding-right: 5%; */
    font-size: 1.2vw;
    line-height: 2vw;

}
.row1
{
    width: 50%;
    font-weight: 300;
    color: rgb(115, 110, 110);
    padding-right: 2%;
    border-right: 2px solid black;
    min-width: 500px;
    /* font-size: 1.4vw; */
}
.row2
{
    width: 50%;
    color: rgb(115, 110, 110);
    padding-left: 4%;
}
.summary-heading
{
    font-size: 2vw;
    font-weight: 700;
    color: black;
    padding-bottom: 4%;
    
}
.skills-heading
{
    font-size: 30px;
    color:black;
    margin-bottom: 5%;
    
}
.skills-body
{

}
.image-about-us
{
    /* height: 30vw; */
    width: 42vw;
    border-radius: 5%;
}

.span-image
{
    height: 50px;
    width: 50px;

}

.university-name
{
    font-weight: 300;
    font-size: 23px;
}
.education-card
{
   font-weight: 300; 
   margin-bottom: 10%;
   display: flex;
   margin-right: 10%;
   border-radius: 10px;
   padding: 5px;
   background-color: rgb(223 221 221 / 52%);
   color: rgb(73, 73, 73);
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.288);
   /* animation: appear-reverse linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%; */
   /* flex-wrap: wrap; */
   /* justify-content: space-evenly; */
}
.degree-name
{
    font-weight: 400;
}
.duration
{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 10px;
}
.li-education
{
    font-size: 12px;
}
.column-2
{
    padding-left: 3%;
}
.education-card:hover
{
    background-color: rgb(223 221 221);
    cursor: pointer
}

@media only screen and (max-width: 1000px) {
    .row1
    {
        width: 100%;
    }
    p
    {
        font-size: 2vw;
        line-height: 3vw;
        padding-right: 10%;
    }
    .summary-heading
    {
        font-size: 3vw;
    }
    .row2
    {
        width: 100%;
    }
    .image-about-us
    {
        width: 80vw;
        justify-content: center;
        margin-left: 5vw;
    }
}