<div class="skill-main">
    <div class="about-me">
        <div class="heading">ABOUT ME</div>
        <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;">
        <!-- <div class="sub-heading">
            
        </div> -->
    </div>
    <div class="summary-skill">
        <div class="row1">
            <div>

            </div>
            <div class="summary">
                <p class="summary-heading">Nice to meet you. You can get to know me here :)</p>
                <p>Hi, I’m Daivik Saharan, a passionate Full-Stack Web Developer with expertise in Java, Python, JavaScript, Angular, Spring Boot, and modern tools like Docker, AWS, and Git. I’m currently pursuing a Master of Applied Computer Science at Concordia University (GPA: 3.90/4.30) while honing my skills through impactful projects and professional experiences.</p>
                <p>I’ve optimized web applications at Infosys, enhanced productivity tools as a Front-End Engineer Intern, and mentored students as a Teaching Assistant. My projects showcase a strong foundation in data structures, scalable system design, and responsive UI development, delivering measurable improvements in performance and user experience.</p>
                <p>Let’s connect to build something extraordinary! Explore my work on GitHub or reach out via LinkedIn.</p>
            </div>
        </div>
        <div class="row2">
            <div class="skills-heading">Education</div>
            <div class="skills-body">
                <div class="education-card">
                    <div><span><img src="../../../assets/images/concordia.png" alt="" class="span-image"></span></div>
                    <div class="column-2">
                    <div class="university-name">Concordia University, Montreal, Quebec</div>
                    <div class="degree-name">Master of Applied Computer Science</div>
                    <div class="duration">(Aug 2023 - May 2025)</div>
                    <ul class="li-education">
                    <li>GPA : 3.90 / 4.30</li>
                    <li style="margin-bottom: 5px;">Core Courses : </li>
                        <ul>
                            <li>Programming and Problem Solving</li>
                            <li>Algorithm Design Techniques</li>
                            <li>Distributed System Design</li>
                            <li>Advanced Programming Practices</li>
                        </ul>
                    </ul>
                    </div>
                </div>

                <div class="education-card">
                    <div><span><img src="../../../assets/images/KU.png" alt="" class="span-image"></span></div>
                    <div class="column-2">
                    <div class="university-name">University Institute Of Engineering and Technology, India</div>
                    <div class="degree-name">Bachelor of Technology (Computer Science and Engineering)</div>
                    <div class="duration">(Aug 2018 - May 2022)</div>
                    <ul class="li-education">
                    <li>GPA : 9.04 / 10</li>
                    <li style="margin-bottom: 5px;">Core Courses : </li>
                        <ul>
                            <li>Programming and Problem Solving</li>
                            <li>Algorithm Design Techniques</li>
                            <li>Distributed System Design</li>
                            <li>Advanced Programming Practices</li>
                        </ul>
                    </ul>
                    </div>
                </div>


                <div>

                </div>
            </div>
        </div>
    </div>
</div>
