<div class="main-projects">
    <div class="heading">
        MY PROJECTS
    </div>
    <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;color: aliceblue;">
    <div class="projects">
        <div class="project-body">
            <div class="project-card">
                <div class="project-title">
                    <div class="project-image">
                        <img src="../../../assets/images/projectShopHere.jpg" alt="">
                    </div>
                    <div class="project-name">
                        <div class="title">ShopHere</div>
                        <div class="technology-used">Technology Used</div>
                        <div class="tech-icons">
                            <div class="skill-item">
                                <i class="fa-solid fa-c"></i>
                                <span>C</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-solid fa-code"></i>
                                <span>C++</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-java"></i>
                                <span>Java</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-python"></i>
                                <span>Python</span>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="project-desc">
                    I developed a fully responsive e-commerce web application using Angular, MongoDB, and Express. The application provides a seamless user experience with features such as item search, product categorization, and order placement, all powered by robust CRUD operations. Designed to work flawlessly across various devices, the app ensures accessibility and efficiency for users. Looking ahead, I plan to enhance the application by integrating a chatbot that offers personalized fashion recommendations based on user data, further elevating user engagement and satisfaction.
                </div>
                <div class="skill-item github-link">
                    <i class="fa-brands fa-github"></i>
                    <span class="span-git">GitHub</span>
                </div>
            </div>




            <div class="project-card">
                <div class="project-title">
                    <div class="project-image">
                        <img src="../../../assets/images/project-ai.jpg" alt="">
                    </div>
                    <div class="project-name">
                        <div class="title">Sign Language Detection System</div>
                        <div class="technology-used">Technology Used</div>
                        <div class="tech-icons">
                            <div class="skill-item">
                                <i class="fa-solid fa-c"></i>
                                <span>C</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-solid fa-code"></i>
                                <span>C++</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-java"></i>
                                <span>Java</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-python"></i>
                                <span>Python</span>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="project-desc">
                    I developed a fully responsive e-commerce web application using Angular, MongoDB, and Express. The application provides a seamless user experience with features such as item search, product categorization, and order placement, all powered by robust CRUD operations. Designed to work flawlessly across various devices, the app ensures accessibility and efficiency for users. Looking ahead, I plan to enhance the application by integrating a chatbot that offers personalized fashion recommendations based on user data, further elevating user engagement and satisfaction.
                </div>
                <div class="skill-item github-link">
                    <i class="fa-brands fa-github"></i>
                    <span class="span-git">GitHub</span>
                </div>
            </div>






            <div class="project-card">
                <div class="project-title">
                    <div class="project-image">
                        <img src="../../../assets/images/warzone.png" alt="">
                    </div>
                    <div class="project-name">
                        <div class="title">Risk Warzone</div>
                        <div class="technology-used">Technology Used</div>
                        <div class="tech-icons">
                            <div class="skill-item">
                                <i class="fa-solid fa-c"></i>
                                <span>C</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-solid fa-code"></i>
                                <span>C++</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-java"></i>
                                <span>Java</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-python"></i>
                                <span>Python</span>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="project-desc">
                    I developed a fully responsive e-commerce web application using Angular, MongoDB, and Express. The application provides a seamless user experience with features such as item search, product categorization, and order placement, all powered by robust CRUD operations. Designed to work flawlessly across various devices, the app ensures accessibility and efficiency for users. Looking ahead, I plan to enhance the application by integrating a chatbot that offers personalized fashion recommendations based on user data, further elevating user engagement and satisfaction.
                </div>
                <div class="skill-item github-link">
                    <i class="fa-brands fa-github"></i>
                    <span class="span-git">GitHub</span>
                </div>
            </div>






            <div class="project-card">
                <div class="project-title">
                    <div class="project-image">
                        <img src="../../../assets/images/portfolio-image.jpg" alt="">
                    </div>
                    <div class="project-name">
                        <div class="title">My Portfolio</div>
                        <div class="technology-used">Technology Used</div>
                        <div class="tech-icons">
                            <div class="skill-item">
                                <i class="fa-solid fa-c"></i>
                                <span>C</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-solid fa-code"></i>
                                <span>C++</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-java"></i>
                                <span>Java</span>
                              </div>
                              <div class="skill-item">
                                <i class="fa-brands fa-python"></i>
                                <span>Python</span>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="project-desc">
                    I developed a fully responsive e-commerce web application using Angular, MongoDB, and Express. The application provides a seamless user experience with features such as item search, product categorization, and order placement, all powered by robust CRUD operations. Designed to work flawlessly across various devices, the app ensures accessibility and efficiency for users. Looking ahead, I plan to enhance the application by integrating a chatbot that offers personalized fashion recommendations based on user data, further elevating user engagement and satisfaction.
                </div>
                <div class="skill-item github-link">
                    <i class="fa-brands fa-github"></i>
                    <span class="span-git">GitHub</span>
                </div>
            </div>


        </div>

    </div>
</div>
