<div class="main-projects">
    <div class="heading">
        MY PROJECTS
    </div>
    <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;">
    <div class="projects">
        <div class="project">

        </div>
        <div class="project">
            <div class="project-row1">
                <div><img class="project-image" src="../../../assets/images/laptop.jpg" alt=""></div>
            </div>
            <div class="project-row2">
                <div class="row2-heading">
                    SHOPHERE
                </div>
                <hr>
                <div class="row2-description">
                    I built a cutting-edge eCommerce website from the ground up using Angular for a seamless, dynamic frontend and Express.js for a robust, high-performance backend. This project isn't just another online store—it’s a scalable, lightning-fast platform designed for the modern web.
                </div>
                <div class="row2-button">
                    <button class="project-button ">PROJECT LINK</button>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project-row1">
                <div><img class="project-image" src="../../../assets/images/laptop.jpg" alt=""></div>
            </div>
            <div class="project-row2">
                <div class="row2-heading">
                    SIGN LANGUAGE GESTURE CLASSIFICATION
                </div>
                <hr>
                <div class="row2-description">
                    I developed a real-time gesture classification system using CNNs like LeNet, VGG, and ResNet, revolutionizing communication for the hearing impaired. With transfer learning, optimized hyperparameters, and diverse datasets, it delivers high accuracy and adaptability.
                </div>
                <div class="row2-button">
                    <button class="project-button">PROJECT LINK</button>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project-row1">
                <div><img class="project-image" src="../../../assets/images/laptop.jpg" alt=""></div>
            </div>
            <div class="project-row2">
                    <div class="row2-heading">
                        MY PORTFOLIO
                    </div>
                    <hr>
                    <div class="row2-description">
                        I'm developing a responsive and interactive portfolio using Angular, TypeScript, HTML, CSS, and Bootstrap to effectively showcase my skills and projects. The design follows a clean and structured architecture, ensuring a smooth user experience across different devices.
                    </div>
                    <div class="row2-button">
                        <button class="project-button">PROJECT LINK</button>
                    </div> 
            </div>
        </div>
        <div class="project">
            <div class="project-row1">
                <div><img class="project-image" src="../../../assets/images/laptop.jpg" alt=""></div>
            </div>
            <div class="project-row2">
                    <div class="row2-heading">
                        RISK WARZONE
                    </div>
                    <hr>
                    <div class="row2-description">
                        I developed Risk Warzone, a Java-based strategy game that delivers an immersive experience for players seeking world domination through tactical decision-making. Built with SOLID principles and design patterns like STATE and ADAPTER, it ensures scalability, maintainability, and seamless game state transitions.
                    </div>
                    <div class="row2-button">
                        <button class="project-button">PROJECT LINK</button>
                    </div> 
            </div>
        </div>
    </div>
</div>
