<div class="main-contacts">
    <div class="heading">
        CONTACT ME
    </div>
    <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;">
    <div class="contact-body">
        <div class="row1">
            <div><img src="/assets/images/contact.png" alt=""></div>
            <div class="row1-heading">Let's Chat.</div>
            <!-- <div class="row1-subheading">Let's create something together.</div> -->
        </div>
        <div class="row2">
            <div class="form">
                <div class="form-heading">Send me a Message!</div>
                <div class="form-fields"><input type="text" placeholder="Full name" required></div>
                <div class="form-fields"><input type="text" placeholder="Email address" required></div>
                <div class="form-fields"><textarea name="" id="" placeholder="Write your message here!" rows="10"></textarea></div>
                <div class="form-button"><button class="submit-button" type="submit">Send Message</button></div>
            </div>
        </div>
    </div>
</div>