<div class="main-contacts">
    <div class="heading">
        CONTACT ME
    </div>
    <hr style="width: 50%;margin-left: 25%;margin-bottom: 4%;">
    <div class="contact-body">
        <div class="row1">
            <div><img src="../../../assets/images/contact.png" alt=""></div>
            <div class="row1-heading">Let's Chat.</div>
            <div class="row1-subheading">Let's create something together.</div>
        </div>
        <div class="row2">
            <div class="form">

            </div>
        </div>
    </div>
</div>